<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.Build.Download" version="0.11.4" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.Forms" version="5.0.0.2662" targetFramework="portable45-net45+win8+wpa81" />
</packages>